/*-- Changing the default settings --*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-- Colours --*/
:root {
  --primary-color: #8bd3dd;
  --secondary-color: #f3d2c1;
  --background-color: #fefffe;
  --font-color: #2e4649;
}

/*-- Generalised Styling --*/
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  background: var(--background-color);
}

.bolder {
  font-weight: bolder;
}

/*-- Mobile View --*/
/*-- Header --*/
.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.logo {
  width: 40%;
  height: auto;
  justify-self: center;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
}

.shop-name {
  justify-self: center;
  font-size: 2.8rem;
  color: var(--font-color);
  text-align: center;
}

/*-- Image Banner --*/
.image-banner {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.image-container {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-link {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 0.5rem;
  opacity: 0.9;
}

.overlay-link:hover {
  background-color: var(--font-color);
  cursor: pointer;
}

/*-- Products Grid, Filter/Sort and Title --*/
.special-title {
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 0.5rem;
}

.toolbar {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5rem;
}

.filter-by-container {
  justify-self: center;
}

.filter-by-label {
  color: var(--font-color);
}

.sort-by-container {
  justify-self: center;
}

.sort-by-label {
  color: var(--font-color);
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
  margin: 1.5rem 1.8rem;
}

/*-- Products --*/
.product-item {
  list-style: none;
  background-color: var(--secondary-color);
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.8rem rgb(216, 216, 216);
  display: grid;
}

.product-image {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.product-name {
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--font-color);
}

.product-description {
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.product-price {
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-align: right;
  color: var(--font-color);
}

.buy-now {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #e0c1b2;
}

.buy-now:hover {
  background-color: var(--font-color);
  cursor: pointer;
}

/*-- Footer --*/
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: var(--primary-color);
  grid-gap: 1.5rem;
}

.copyright {
  font-size: 0.8rem;
  align-self: center;
  padding-left: 0.2rem;
}

.contact-container {
  padding: 0.2rem;
  justify-self: center;
}

.contact-title {
  text-align: center;
}

.contact-details-list {
  list-style: none;
}

.contact-details {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  text-align: center;
}

/*-- Tablet View --*/
@media screen and (min-width: 45rem) {
  .logo {
    width: 28%;
  }

  .shop-name {
    font-size: 3.5rem;
  }

  .overlay-link {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .special-title {
    font-size: 1.8rem;
  }

  .toolbar {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .product-item {
    padding: 1rem;
  }

  .copyright {
    font-size: 1rem;
    padding-left: 1rem;
    justify-self: center;
  }

  .contact-container {
    padding: 0.2rem;
  }

  .contact-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .contact-details {
    font-size: 1rem;
  }
}

/*-- Desktop View --*/
@media screen and (min-width: 64rem) {
  .container {
    width: 64rem;
    margin: 0 auto;
  }

  .header-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .logo {
    width: 25%;
    height: auto;
    justify-self: right;
  }

  .shop-name {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
  }

  .image-banner {
    width: 100%;
    height: auto;
    opacity: 0.8;
  }

  .special-title {
    font-size: 2rem;
  }

  .filter-by-label {
    font-size: 1.1rem;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-description {
    font-size: 1rem;
  }
}
